---
import MainLayout from "../layouts/MainLayout.astro";

const name = "José Roberto Quiñónez Girón";
---

<MainLayout title="Iniicio">
  <h1>{name}</h1>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">
    Momento actual real: {new Date().toLocaleTimeString()}
  </p>

  <script>
    const currentTimeParagraph = document.querySelector(
      "#current-time"
    ) as HTMLParagraphElement;

    currentTimeParagraph.innerHTML = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
